@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

.navbar {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.navbar img {
    float: left;
    width: 35px;
    padding-top: 5px;
    padding-left: 5px;
}

.navbar span {
    float: left;
    color: #778adf;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
  
.navbar a {
    float: left;
    color: rgb(129, 129, 129);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.4s ease-out;
}
  
.navbar a:hover {
    background-color: #fc7874;
    color: rgb(255, 255, 255)!important;
    border-bottom: 2px solid #fc7874;
}

.navbar a.active {
    border-bottom: 2px solid rgb(253, 99, 107);;
    color: rgb(19, 19, 19);
}

.carousel{
    height:550px;
    position:relative;
    width: 100vw;
    margin:0 auto;
}

.carousel h2 {
    color: rgb(235, 235, 235);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 26px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 15px;
}

.carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
}

.button-carousel, .button-carousel:focus {
    padding: 7px 35px;
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: rgb(253, 253, 253);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-carousel img {
    margin-left: 3px;
    width: 11px;
}

.arrow{
    border: solid rgba(241, 241, 241, 0.575);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}

.arrow:hover{
    border: solid rgb(241, 241, 241);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}
  
.arrow-prev{
    left:30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}
   
.arrow-next{
    right:30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
  
[id^="item"] {
    display: none;
}
  
.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('images/hero1.png');
    background-size:cover;
    background-position: center;
}

.item-2{
    background:url('images/hero2.jpg');
    background-size:cover;
    background-position: center;
}

.item-3{
    background:url('images/hero3.png');
    background-size:cover;
    background-position: center;
}

.item-4{
    background:url('images/hero4.png');
    background-size: cover;
    background-position: center;
}
  
*:target ~ .item-1 {
    opacity: 0;
}
  
#item-1:target ~ .item-1 {
    opacity: 1;
}
  
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 4;
    opacity: 1;
}

.categories-div {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.categories-div span {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    background-color: rgb(119, 133, 255);
    height: 6px;
    padding: 6px 20px;
    border-radius: 20px;
    box-shadow: 3px 2px 8px 1px #a7a6a6;
    transition: all 0.3s ease;
}

.categories-div span:hover {
    background-color: rgb(134, 146, 252);
    box-shadow: 3px 5px 8px 1px #a7a6a6;
}

.search-input {
    margin-right: 60px;
    width: 25vw;
    max-width: 350px;
    padding: 9px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #a7a7a7;
}

.search-input::placeholder {
    font-family: 'Open Sans', sans-serif;
        color: rgba(87, 87, 86, 0.8);
        letter-spacing: 1px;
        font-weight: normal;
}

.search-input:hover,
    .search-input:focus {
        outline: 0;
        border: 1px solid #444444;
}

.main-container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.main-container h1 {
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

.main-container h1 .span-1 {
    color: #00B16A;
}

.main-container h1 .span-2 {
    color: #eb8b3d;
}

.footer{
    background-color :#26272b;
    padding: 45px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ccc9c9;
    margin-top: 150px;
}

.footer hr {
    border-top-color :#bbb;
    opacity: 0.5
}

.footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0;
    letter-spacing: 2px
}

.footer a {
    color: #ccc9c9;
    text-decoration: none;
}

.footer a:hover{
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display:block
}

.footer-links a{
    color:#868585
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}

.footer-links.inline li{
    display:inline-block
}

.footer .social-icons{
    text-align:right
}

.footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.copyright-text{
    margin:0
}

.card-div {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-right: 10px;
    height: 20em;
    width: 14em;
    display:flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.card-1 .card-img {
    background-position: bottom;
    height: 8em;
    width: 10em;
    padding: 1em 2em;
    position: absolute;
    top: 0px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/nike-dunk.jpg");
}

.card-2 .card-img {
    background-position: top;
    height: 8em;
    width: 10em;
    left: 0;
    padding: 1em 2em;
    position: absolute;
    top: -40px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/adidas-yeezy.jpg");
}

.card-3 .card-img {
    background-position: top;
    height: 8em;
    width: 10em;
    left: 0;
    padding: 1em 2em;
    position: absolute;
    top: -15px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/jorda-retro.jpg");
}

.card-4 .card-img {
    background-position: top;
    height: 8em;
    width: 9em;
    left: 0px;
    padding: 1em 2em;
    position: absolute;
    top: -5px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/skechers-foam.jpg");
}

.card-desc { 
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFC;
    height: 12em;
    width: 14em;
    position: absolute;
    bottom: 0em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
    font-size: 14px;
}

.card-buttons button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: none;
    color: whitesmoke;
    width: 8em;
    height: 2.18em;
    background-color :black;
    position: absolute;
    bottom: 1em;
    left: 5em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 12px;
}

.card-div h5 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 15px;
    color: rgb(44, 43, 43);
}

.card:hover .card-desc {
    height:0em;
    padding:0px 1em;
}

.card:hover .card-img {
    height:18em;
}

.card:hover .card-buttons {
    background-color:white;
}

.card:hover .card-buttons:hover {
    background-color:blue;
    cursor:pointer;
}

.all-products {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.all-products .btn-products {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f46b45, #eea849);
    color: whitesmoke;
    padding: 6px 50px;
    font-size: 14px;
    border-radius: 20px;
}

.category-container {
    margin-top: 50px;
    margin-bottom: 80px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-category {
    line-height: 80px;
    text-decoration: none;
    text-align: center;
    appearance: button;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 12px;
    outline: none;
    border: none;
    width: 200px;
    height: 85px;
    margin-left: 20px;
    margin-bottom: 25px;
    transition: 0.5s;
    box-shadow: 3px 5px 15px 5px #c5c4c4;
}

.btn-category:nth-child(1) {
    background: linear-gradient(to right, #22c1c3, #f5c660);
    background-size: 180%;
}

.btn-category:nth-child(2) {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    background-size: 180%;
}

.btn-category:nth-child(3) {
    background: linear-gradient(to right, #a8c0ff, #7d6ad1);
    background-size: 180%;
}

.btn-category:nth-child(4) {
    background: linear-gradient(to right, #e67fbd, #8845ac);
    background-size: 180%;
}

.btn-category:hover {
    background-position-x: 80%;
    transform: translateY(-10px);
}

.btn-category::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 4px;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
    z-index: -1;
}

.btn-category:hover::before {
    transform: scale(1);
    bottom: -10px;
}

#nike-title, #jordan-title {
    margin-top: 120px;
}

.navbar a:last-child {
    float: right;
}

.navbar a:last-child:hover {
    border: 0;
}